.header-solid
    background-color: red
    color: white
    position: fixed
    width: 100%
    opacity: .7
    z-index: 1
.header
    background-color: red
    color: white
    position: fixed
    z-index: 1
    width: 100%
h2
    width: 100%
    margin: 0
    text-align: center
    padding: 2% 0
    font-size: 3vh
