#welcome
    margin: auto
    background-image: url("./fellah.jpg")
    background-size: cover
    backdrop-filter: blur(3px)
    background-attachment: fixed

#accueil
    backdrop-filter: blur(5px)
    padding: 5% 5%
    color: rgb(255, 255, 255)

h1
    padding-top: 5%
    margin: 0 0 5%
    font-size: 50px
    text-shadow: 2px 2px 5px #000000
    text-align: center

#accP
    text-align: center
    font-size: 18px
    margin: 0 10%
    line-height: 150%
    padding-bottom: 5%
    text-shadow: 2px 2px 5px #000000

